*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,rgb(54, 53, 53),5%,#222 50%,#030423);
    position: absolute;
}
.wrapper h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #fff;
    font-size: 40px;
    font-weight: 888;
    text-transform: uppercase;
}
img{
    height: 70px;
    width: 70px;        
}
i{
    
    font-size: 50px;
}
.wrapper div{
    
    height: 60px;
    width: 60px;
    position: relative;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
}
.wrapper div:nth-child(1){
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2){
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3){
    top: 45%;
    left: 40%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(4){
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5){
    top: 6%;
    left: 30%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6){
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7){
    top:   0%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8){
    top:   -15%;
    left: 91%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9){
    top:   -35%;
    left: 8%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(10){
    top:   -35%;
    left: 35%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11){
    top:   -45%;
    left: 62%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(12){
    top:   -10%;
    left: 10%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(13){
    top:   -15%;
    left: 38%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14){
    top:   -20%;
    left: 58%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(15){
    top:   -80%;
    left: 69%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(16){
    top:   -41%;
    left: 72%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(17){
    top:   -83%;
    left: 86%;
    animation: animate 12s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translate(0) rotate(1deg);
    }
    100%{
        transform: scale(1.6) translateY(-100px) rotate(0deg);
    }
}